body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav-left a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.nav-center {
  font-weight: bold;
}

/* MAIN */
.main {
  text-align: center;
  margin-top: 40px;
}

.login-card {
  width: 350px;
  background: white;
  padding: 30px;
  margin: 20px auto;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  margin-top: 10px;
}

.divider {
  margin: 20px 0;
  font-size: 12px;
  color: gray;
}

.social button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
}

.register {
  margin-top: 15px;
  font-size: 12px;
}

/* FOOTER */
.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-top: 40px;
}

/* AUTH PAGES */

.auth-container{
display:flex;
justify-content:center;
align-items:center;
min-height:70vh;
}

.auth-card{
width:400px;
background:white;
padding:35px;
border-radius:10px;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
}

.auth-card h2{
text-align:center;
margin-bottom:20px;
}

.auth-desc{
font-size:14px;
color:#666;
margin-bottom:20px;
}

.auth-card label{
display:block;
font-size:14px;
margin-bottom:6px;
margin-top:10px;
}

.auth-card input{
width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:6px;
}

.auth-btn{
width:100%;
margin-top:20px;
background:black;
color:white;
border:none;
padding:12px;
border-radius:6px;
cursor:pointer;
}

.auth-footer{
text-align:center;
margin-top:15px;
font-size:13px;
}

.password-field{
position:relative;
}

.password-field input{
width: 100%;
padding: 12px;
padding-right: 45px; 
border: 1px solid #ccc;
box-sizing: border-box;
}

.toggle-password{
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
font-size:18px;
color:#555;
}