# Node modules
node_modules/


# Environment variables (IMPORTANT)
.env

# IDE files
.vscode/
.idea/  


.package.json
.package-lock.json

models/Otp copy.js
models/User copy.js
models/passport.js

# Scripts and temporary files
refine_categories.js
seed_genrage.js
tmp_check_cats.js

# Uploads
public/uploads/