body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: left;
}

h2 {
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.forgot {
  float: right;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.btn {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}